body {
  background-color: lightsteelblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.clearfix {
  overflow: auto;
}
img {
  height: 100px;
  width: 100px;
}
.pizza {
  border: 1px solid lightsteelblue;
  padding: 1em;
  margin: 1em;
  border-radius: 0.3em;
  flex: 1;
  background-color: rgb(146, 246, 246);
}

.contact_details {
  background-color: rgb(17, 46, 46);
}

@media (min-width: 960px) {
  .pizza {
    display: flex;
  }
}

button {
  margin: 5px;
  background-color: rgb(53, 123, 123);
  float: left;
}

.add,
.remove {
  gap: 5px;
  border-radius: 7px;
  border: none;
  height: 25px;
  width: 25px;
}

.payment,
input,
.login {
  border-radius: 7px;
  border: none;
  height: 30px;
  width: 73px;
}

.center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartCount {
  position: relative;
  top: -5px;
  left: -10px;
  background-color: rgb(56, 141, 141);
  color: white;
  padding: 2px 5px;
  border-radius: 50%;
  font-size: 12px;
}

.contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.failure {
  color: red;
}
.success {
  color: green;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.td {
  padding: 8px;
}

@media (max-width: 768px) {
  .table {
    display: block;
  }

  .td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .td img {
    max-width: 100%;
    height: auto;
  }

  .payment {
    display: block;
    margin-top: 10px;
  }
}

th, td {
    padding: 8px; 
  }

.featured {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    padding:10px;
    
}
.pizzas {
    width: 31%; 
    margin-bottom: 20px; 
    background-color: rgb(146, 246, 246);
    border: 1px solid lightsteelblue;
}

@media screen and (max-width: 767px) {
    .featured {
        display: flex;
        flex-wrap: nowrap;
    }

    .pizzas {
        width: 100%; 
    }
}






